<?xml version="1.0" encoding="utf-8"?>
<manifest
	package="com.matthewtamlin.spyglass.library_tests"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<application
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:label="Spyglass Tests"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">

		<activity
			android:name=".activity.EmptyActivity"
			android:theme="@style/TestSpyglassTheme"/>
	</application>
</manifest>	